extends layout

block content
    #wrapper-main 
        .wrapper-header
            .wrapper-log-out
                span#profile
                    buton#profileshow(style='color: white; padding-left: 5px') Update profile&nbsp;&nbsp;
                span#log-out
                    | Log out
                    i.fa.fa-sign-out.fa-lg(style='color: white; padding-left: 5px')        
        .wrapper-content
            .wrapper-info 
                .wrapper-user 
                    #avatar-picker(ondrop='drop(event)' ondragover='allowDrop(event)')
                        span#user-name
                        img#avatarChoose(draggable='true' ondragstart='drag(event)' src='')
                        i#avatarChange.fas.fa-caret-square-down
                    #wrapper-selector 
                        #avatar-selector 
                            .avatar-row 
                                .avatar-item 
                                    img#item-1.avatar(src="/images/guerrera.png", alt="")
                                .avatar-item 
                                    img#item-2.avatar(src="/images/guerrero.png", alt="")
                                .avatar-item 
                                    img#item-3.avatar(src="/images/arquera.png", alt="")
                                .avatar-item 
                                    img#item-4.avatar(src="/images/arquero.png", alt="")
                            .avatar-row
                                .avatar-item 
                                    img#item-5.avatar(src="/images/maga.png", alt="")
                                .avatar-item 
                                    img#item-6.avatar(src="/images/mago.png", alt="")
                                .avatar-item 
                                    img#item-7.avatar(src="/images/monstrua.png", alt="")
                                .avatar-item 
                                    img#item-8.avatar(src="/images/monstruo.png", alt="")
                    h1 Welcome to console.log(play) game 
                    .wrapper-helper 
                        span To start playing choose a room.
                        span In each room you can play up to two players maximum.
                        span Drag an drop your avatar to choose one room.
                        span 
                            i.fas.fa-lg.fa-user-friends
                            | Room is full 
                            i.fas.fa-lg.fa-user-alt
                            | One person in the room  
                            i.fas.fa-lg.fa-user-alt-slash
                            | Room is empty
            .wrapper-rooms 
                #containerRooms.container-rooms
                    .wrapper-container 
                        .wrapper-ocupation 
                            i#oroom1 
                        #room1.room(ondrop='drop(event)' ondragover='allowDrop(event)')
                        .wrapper-foot
                            i#room1f
                    .wrapper-container
                        .wrapper-ocupation
                            i#oroom2(style='')
                        #room2.room(ondrop='drop(event)' ondragover='allowDrop(event)')
                        .wrapper-foot
                            i#room2f
                    .wrapper-container
                        .wrapper-ocupation
                            i#oroom3(style='')
                        #room3.room(ondrop='drop(event)' ondragover='allowDrop(event)')
                        .wrapper-foot
                            i#room3f 
    #myModalform.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header(style='background-color:rgb(174, 253, 140)')
                    button.close(type='button' data-dismiss='modal') ×
                    h4.modal-title Console.log(play)
                .modal-body(style='background-color:#ffffe6')
                    form#updateProfile
                        .mb-3.row
                        label.col-sm-2.col-form-label(style='color: #000') Name
                        .col-sm-9.px-4 
                        input#name.form-control(type=text name="name")
                        .mb-3.row
                        label.col-sm-2.col-form-label(style='color: #000') Email
                        .col-sm-9.px-4 
                        input#username.form-control(type=text name="username")
                        .mb-3.row 
                        label.col-sm-2.col-form-label(style='color: #000') Password
                        .col-sm-9.px-4 
                        input#password.form-control(type=text name="password")
                        .d-grip.gap-2
                        button#profileshow.btn.btn-primary.btn-outline-warning Update Profile                             
    #myModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header(style='background-color:rgb(174, 253, 140)')
                    button.close(type='button' data-dismiss='modal') ×
                    h4.modal-title Console.log(play)
                .modal-body(style='background-color:#ffffe6')
                    p#alert-text
    
block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
    script(src="/javascripts/game-app.js")
    