extends layout

block content
    script(src="/javascripts/prototype.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script.
        $j = jQuery.noConflict();
    #wrapper-main 
        .wrapper-header
            .wrapper-menu 
                i.fa.fa-gamepad.fa-lg.text-light
                span#results
                    buton#showresults(style='color: white; padding-left: 5px') Show Results&nbsp;&nbsp;
                span#profile
                    buton#profileshow(style='color: white; padding-left: 5px') Update profile&nbsp;&nbsp;
                span#dprofile
                    buton#deleteprofile(style='color: white; padding-left: 5px') Delete profile&nbsp;&nbsp;
                span#tutorials
                    buton#get-tutorials(style='color: white; padding-left: 5px') Tutorials&nbsp;&nbsp;
       
            .wrapper-log-out
                span#log-out
                    | Log out
                    i.fa.fa-sign-out.fa-lg(style='color: white; padding-left: 5px')        
        .wrapper-content
            .wrapper-info 
                .wrapper-user 
                    #avatar-picker(ondrop='drop(event)' ondragover='allowDrop(event)')
                        span#user-name
                        img#avatarChoose(draggable='true' ondragstart='drag(event)' src='')
                        i#avatarChange.fa.fa-caret-down.fa-lg
                    #wrapper-selector 
                        #avatar-selector 
                            .avatar-row 
                                .avatar-item 
                                    img#item-1.avatar(src="/images/guerrera.png", alt="")
                                .avatar-item 
                                    img#item-2.avatar(src="/images/guerrero.png", alt="")
                                .avatar-item 
                                    img#item-3.avatar(src="/images/arquera.png", alt="")
                                .avatar-item 
                                    img#item-4.avatar(src="/images/arquero.png", alt="")
                            .avatar-row
                                .avatar-item 
                                    img#item-5.avatar(src="/images/maga.png", alt="")
                                .avatar-item 
                                    img#item-6.avatar(src="/images/mago.png", alt="")
                                .avatar-item 
                                    img#item-7.avatar(src="/images/monstrua.png", alt="")
                                .avatar-item 
                                    img#item-8.avatar(src="/images/monstruo.png", alt="")
                    h1 Welcome to console.log(play) game 
                    .wrapper-helper 
                        span To start playing choose a room.
                        
            .wrapper-rooms 
                button#get-out-all Get out
                #containerRooms.container-rooms
                    .wrapper-container 
                        .wrapper-ocupation 
                            span#oroom1 
                        #room1.room(ondrop='drop(event)' ondragover='allowDrop(event)')
                        .wrapper-foot2
                            i#room1p     
                        .wrapper-foot
                            i#room1f                       
                    .wrapper-container
                        .wrapper-ocupation
                            span#oroom2(style='')
                        #room2.room(ondrop='drop(event)' ondragover='allowDrop(event)')
                        .wrapper-foot2
                            i#room2p
                        .wrapper-foot
                            i#room2f
                    .wrapper-container
                        .wrapper-ocupation
                            span#oroom3(style='')
                        #room3.room(ondrop='drop(event)' ondragover='allowDrop(event)')
                        .wrapper-foot2
                            i#room3p    
                        .wrapper-foot
                            i#room3f                         
    #myModalform.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal') ×
                    h4.modal-title Console.log(play)
                .modal-body
                    p#myModalformcontent
                    form#updateProfile.px-3
                        .mb-3.row.px-3
                            label.col-sm-2.col-form-label Name
                            input#name.form-control.bg-dark(type=text name="name")
                        .mb-3.row.px-3
                            label.col-sm-2.col-form-label Email
                            input#username.form-control.bg-dark(type=text name="username")
                        .mb-3.row.px-3 
                            label.col-sm-2.col-form-label Password
                            input#password.form-control.bg-dark(type=text name="password")
                        .d-grip.gap-2
                            button#profileshow.btn.btn-primary.btn-outline-warning.w-100 Update Profile                             
    #myModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal') ×
                    h4.modal-title Console.log(play)
                .modal-body
                    p#alert-text
    #ModalTutorials.modal.fade(role="dialog")
        .modal-dialog 
            .modal-content 
                .modal-header 
                    button.close(type='button' data-dismiss='modal') ×
                    h4.modal-title Console.log(play)
                .modal-body 
                    p 1. To start playing drag your avatar into a room
                    p 2. When the room is full, you will be indicated by the informative icons at the top
                    p 3. If you want to enter into the room press the button "Go into"
                    p 4. If you want to exit press the button "Get out"
    #ModalDelete.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal') ×
                    h4.modal-title Console.log(play)
                .modal-body
                    p Are you sure you want to delete your profile ?
                    .modal-footer 
                    button#yes Yes 
                    button#no No
block scripts
    script(src="/javascripts/game-app.js")
    script(src="/javascripts/ajaxResults.js")
    