extends layout

block content
    .wrapper-main
        .wrapper-picker 
            #wrapper-selector 
                #avatar-selector 
                    .avatar-row
                        .avatar-item 
                            img#item-1.avatar(src="/images/guerrera.png", alt="")
                        .avatar-item 
                            img#item-2.avatar(src="/images/guerrero.png", alt="")
                        .avatar-item 
                            img#item-3.avatar(src="/images/arquera.png", alt="")
                        .avatar-item 
                            img#item-4.avatar(src="/images/arquero.png", alt="")
                    .avatar-row
                        .avatar-item 
                            img#item-5.avatar(src="/images/maga.png", alt="")
                        .avatar-item 
                            img#item-6.avatar(src="/images/mago.png", alt="")
                        .avatar-item 
                            img#item-7.avatar(src="/images/monstrua.png", alt="")
                        .avatar-item 
                            img#item-8.avatar(src="/images/monstruo.png", alt="")
            .mb-3
                form#registerform 
                    .avatar-wrapper 
                        #avatar-picker.avatar-content 
                            img#avatarChoose.avatar(src="/images/guerrera.png", alt="")
                    .mb-3.row 
                        label.col-sm-2.col-form-label.text-light Name 
                        .col-sm-9.px-4 
                            input#name.form-control(type="text" name="name" placeholder='Write name' required='')
                    .mb-3.row 
                        label.col-sm-2.col-form-label.text-light Email 
                        .col-sm-9.px-4 
                            input#email.form-control(type="email" name="username" placeholder=' Write email' required='')
                    .mb-3.row 
                        label.col-sm-2.col-form-label.text-light Password
                        .col-sm-9.px-4 
                            input#password.form-control(type="text" name="password" placeholder='Write password' required='')
                    .d-grip.gap-2 
                        button#submit-button.btn.btn-primary.btn-outline-warning.btn.block(type="submit") Sign up 
                    #helper.helper-wrapper 
                        .helper-content 
                            p.text-helper The email is already used or a field is empty

block scripts 
    script(src="/javascripts/register.js")   
