
        #wrapper-main {
            position: absolute;
            width: 100%;
            height: 1200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: rgb(174, 253, 140);
            font-family: 'Century Gothic', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        }

        .wrapper-header {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: 90px;
            align-items: center;
            flex-direction: column;
            padding: 30px 0px 0px 0px;
            background-color: #1a1a1a;
            box-shadow: rgb(35, 37, 39) 10px 5px 10px;
        }

        .wrapper-log-out {
            display: flex;
            justify-content: flex-end;
            width: 90%;
            cursor: pointer;

        }

        #log-out {
            color: white;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        

        .wrapper-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .wrapper-info {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #ffffe6
        }

        .wrapper-user {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 20px 0px 20px 0px;
        }

        h1 {
            font-size: 20px;
            font-weight: 550;
            line-height: 60px;
        }

        #avatarChoose {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            border: 2px solid #1a1a1a;

        }

        #newId {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            border: 2px solid #1a1a1a;

        }

        #user-name {
            text-transform: capitalize;
            font-size: 20px;
        }

        .wrapper-helper {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 17px;
            padding: 0px 0px 20px 0px;
        }

        .wrapper-rooms {
            width: 100%;
            display: flex;
            justify-content: center
        }

        .container-rooms {
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0px 30px 0px;
        }
        .wrapper-container{
            background-color: rebeccapurple;
            width: 20%;
            
            background-color: rgb(58, 140, 255);
            border-radius: 10px;
            box-shadow: rgb(51, 109, 190) 10px 5px 10px;
        }
        .wrapper-ocupation{
            background-color: #ffffe6;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px 10px 0px 0px;
        }
        .wrapper-foot{
            background-color: #ffffe6;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrapper-foot2{
            background-color: #a3d2d5;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .room {
            background-color: rgb(58, 140, 255);
            height: 150px;
            border-radius: 0px 0px 10px 10px;
            box-shadow: rgb(51, 109, 190) 10px 5px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #wrapper-selector {
            display: none;
            height: 250px;
            justify-content: center;
        }

        #avatar-selector {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            align-items: center;
            padding: 0px 15px 0px 15px;
            background-color: rgb(35, 20, 113);
            border-radius: 10px;

        }

        .avatar-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;

        }

        .avatar-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: solid rgb(222, 93, 8);
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
